[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = ">=0.5"
raven = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
twine = "*"
bumpversion = "*"
mypy = "*"
